/* General Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000; /* Black text */
  margin: 0;
  padding: 0;
  background-color: #3498db; /* Blue background */
}

/* Main Container */
.App {
  text-align: center;
}

/* Header */
.App-header {
  background-color: #282c34;
  color: #fff; /* White text */
  padding: 20px;
}

/* Logo */
.App-logo {
  height: 80px;
  animation: App-logo-spin infinite 20s linear;
}

/* Links */
.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

/* Form and Options Container */
.search-container,
.options-container {
  margin-bottom: 20px;
}

/* Form Input */
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #000; /* Black text */
}

/* Buttons */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: #fff; /* White text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45aaf2;
}

/* Question List */
.questions-list {
  list-style: none;
  padding: 0;
}

.questions-list li {
  margin-bottom: 20px;
}

.questions-list .answer-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.questions-list .answer-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.questions-list .answer-card p {
  margin: 0;
}

/* Animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login */
.login-input {
  width: 20%; /* or any specific width you desire */
  height: 20px;
}